{% extends 'base.html.twig' %}

{% block title %}NewLife - Vêtements d'occasion 100% Made in France !{% endblock %}

{% block content %}
<hr>

<h1>Nous découvrir</h1>
<div>
<p>NewLife est une boutique de vente en ligne de vêtements qui va vous faire aimer la seconde main.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sit nulla adipisci inventore perferendis impedit debitis animi, repudiandae exercitationem, quos modi, molestiae nemo tenetur velit enim culpa corporis cum nesciunt illo magnam ad! Enim, quia labore praesentium explicabo ipsa tempora adipisci dicta perferendis animi laborum cumque iusto exercitationem, omnis quam sed. At repellendus animi dicta corporis placeat harum a temporibus optio hic sint nemo non consequatur ipsa voluptate odit architecto incidunt vitae libero, accusamus quibusdam aliquam accusantium sequi quos itaque. Velit rem fugit soluta odio voluptas dicta ullam alias. Assumenda consequatur repellat repudiandae voluptatum doloremque iusto veritatis voluptates repellendus quidem?</p>
</div>

<div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sit nulla adipisci inventore perferendis impedit debitis animi, repudiandae exercitationem, quos modi, molestiae nemo tenetur velit enim culpa corporis cum nesciunt illo magnam ad! Enim, quia labore praesentium explicabo ipsa tempora adipisci dicta perferendis animi laborum cumque iusto exercitationem, omnis quam sed. At repellendus animi dicta corporis placeat harum a temporibus optio hic sint nemo non consequatur ipsa voluptate odit architecto incidunt vitae libero, accusamus quibusdam aliquam accusantium sequi quos itaque. Velit rem fugit soluta odio voluptas dicta ullam alias. Assumenda consequatur repellat repudiandae voluptatum doloremque iusto veritatis voluptates repellendus quidem?</p></div>
{% endblock %}
