{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - NewLife {% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<a href="{{ path('app_account') }}">Revenir à mon compte</a><br/> <!--Lien du chemin qui permet à l'utilisateur de revenir sur la page de son compte -->
<hr>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form)}} <!--On appelle la fonction twig form en lui passant en paramètre la variable form qui contient notre formulaire que je souhaite afficher -->
<hr>               
{% endblock %}
