{% extends 'base.html.twig' %}

{% block title %}Nos CGV{% endblock %}

{% block content %}

<h1>Conditions générales de vente</h1>
<hr>

<div>
<h4>- Préambule.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Produits.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Prix.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Commande.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Modalités de paiement.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Livraison.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Retour produits.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Litiges et médiation.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Données personnelles.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

{% endblock %}
