{% extends 'base.html.twig' %}

{% block carousel %}<!-- Je souhaite que le block carousel soit définie dans ma page d'accueil -->
{% endblock %} 


{% block content %}
        <!-- Three columns of text below the carousel -->
        <h3>Nos meilleures ventes</h3>
        <p>Nos vêtements seconde main les plus vendus.<p/>
        <p><strong>« Choisis ton style et ton époque !!! »<strong></p>
        <div class="row">
            {% for produit in produits_best %}
                <div class="col-md-3">
                    {% include 'nos_produits/single_produit.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
         
                <h2 class="featurette-heading">Nos inspirations à partager ! <span class="text-muted">Look de printemps.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/image_fille_500x500.png') }}" class="img-fluid" alt="Un savoir-faire Français">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Les nouveautés déjà disponible ! <span class="text-muted"> Plus de 500 articles à venir.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/image_vetements_500x500.png')}}" class="img-fluid" alt="Une boutique ouverte toute l'année">
            </div>
        </div>
        <hr>
       


        <!-- /END THE FEATURETTES -->

{% endblock %}
