Nous vous confirmons l'envoie de l'email.
<br/>
<br/>
Votre message sera traité dans les plus brefs délais !.
<hr>
<br/>
{% block content %}
<a href="{{ path('app_accueil') }}">Revenir à la page d'accueil</a>
{% endblock %} 