{% extends 'base.html.twig' %}

{% block title %}Nos CGU{% endblock %}

{% block content %}

<h1>Conditions générales d'utilisation</h1>
<hr>

<div>
<h4>- Coordonnées d'identification du responsable du site web.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Objet des conditions.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Intervenants.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Droit d'exclusion.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Propriété Intellectuelle et Industrielle.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Droit de rétractation.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Mécanisme pour excercer le droit de rétractation</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

<div>
<h4>- Législation en vigueur et juridique.</h4>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam necessitatibus iure, odio dolore magni odit quisquam labore deserunt qui eum illo ipsam voluptatibus. Eligendi exercitationem reiciendis error sint, eum molestias.</p>
</div>

{% endblock %}

